html {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: TanNimbus;
	src: url(TAN-NIMBUS.ttf);
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: "Lato", "Helvetica";
}

body,html {
	height: 100%;
	color: #777;
	line-height: 1.8;
}

a:hover{
	color: black;
}

.hidden_mobile {
}

.theme-gradient {
	background-image: linear-gradient(to bottom right, #9BBBF8, #5B72FF);
	min-height: 400px;
}

.theme-color{
	background-color: #9BBBF8;
}

.bgimg-1,.bgimg-2,.bgimg-3,.bgimg-4 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: /*url('https://media.licdn.com/dms/image/D4E22AQE2y_XZzsCxJQ/feedshare-shrink_800/0/1716405628397?e=2147483647&v=beta&t=oyWJ4dboR2DJgWq9uSLqZZWoH2xF2vgkS0vi-Jn9_ug'); */
	url(background.jpg);
	min-height: 400px;
  object-fit: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, rgba(94,117,255, 0.9), rgba(98, 118, 217, 0.3));
}

.w3-wide {
	letter-spacing: 10px;
}

.w3-hover-opacity {
	cursor: pointer;
}

@media only screen and (max-device-width: 1600px) {

	.bgimg-1,.bgimg-2,.bgimg-3,.bgimg-4 {
		background-attachment: scroll;
		min-height: 400px;
	}
}

@media (max-width: 600px) {
	.bgimg-1{
		background-image: url('https://media.licdn.com/dms/image/D4E22AQE2y_XZzsCxJQ/feedshare-shrink_800/0/1716405628397?e=2147483647&v=beta&t=oyWJ4dboR2DJgWq9uSLqZZWoH2xF2vgkS0vi-Jn9_ug');
	}
	
	.hidden_mobile {
		display: none;
	}
}
