html {
  height: 100%;
  width: 100%;
}

@font-face {
	font-family: TanNimbus;
	src: url(TAN-NIMBUS.ttf);
}

body,h1,h2,h3,h4,h5,h6 {font-family:"Lato", "Helvetica";}
body, html {
	height: 100%;
	color: #777;
	line-height: 1.8;
}

.theme-gradient{
	background-image: linear-gradient(to bottom right,#7e97d3,#21386A);
	min-height: 400px;
}

.custom-checkbox {
	width: 300px;
	height: 50px;
}
.custom-checkbox input#status {
	display: none;
}
.custom-checkbox input#status + label {
	height: 100%;
	width: 100%;
}
.custom-checkbox input#status + label > .status-switch {
	cursor: pointer;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: grey;
	color: white;
	transition: all 0.5s ease;
	padding: 3px;
	border-radius: 3px;
}
.custom-checkbox input#status + label > .status-switch:before, .custom-checkbox input#status + label > .status-switch:after {
	border-radius: 2px;
	height: calc(100% - 6px);
	width: calc(50% - 3px);
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	transition: all 0.3s ease;
}
.custom-checkbox input#status + label > .status-switch:before {
	background-color: white;
	color: black;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
	left: 3px;
	z-index: 10;
	content: attr(data-unchecked);
}
.custom-checkbox input#status + label > .status-switch:after {
	right: 0;
	content: attr(data-checked);
}
.custom-checkbox input#status:checked + label > .status-switch {
	background-color: grey;
}
.custom-checkbox input#status:checked + label > .status-switch:after {
	left: 0;
	content: attr(data-unchecked);
}
.custom-checkbox input#status:checked + label > .status-switch:before {
	color: grey;
	left: 50%;
	content: attr(data-checked);
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bgimg-1 {
	background-image: url('https://media.licdn.com/dms/image/D4E22AQE2y_XZzsCxJQ/feedshare-shrink_800/0/1716405628397?e=2147483647&v=beta&t=oyWJ4dboR2DJgWq9uSLqZZWoH2xF2vgkS0vi-Jn9_ug');
	min-height: 500px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

@media only screen and (max-device-width: 1600px) {
	.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
		background-attachment: scroll;
		min-height: 400px;
	}
}
